:root {
  --cor-primaria: #4699ae;     /* Azul Escuro (Marinho) */
  --cor-secundaria: #1B4965;   /* Azul Claro (Oceano) */
  --cor-destaque: #D4A373;     /* Marrom Pastel/Areia */
  --cor-fundo: #F4F1DE;        /* Fundo Bege/Areia bem claro */
  --cor-texto: #2C363F;        /* Texto Escuro (quase preto) */
  --cor-texto-claro: #ffffff;
  --fonte-principal: "Nunito", sans-serif;
}